

@font-face {
  font-family: Sans;
  src: url(../assets/fonts/Sans.ttf);
}


html,
body {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {

  font-family: Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


/* styles/globals.css */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
}


 
/* Hide the number input controls */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}